input[type="button"] {
  border: none;
  background-color: crimson;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.9rem;
  border-radius: 4px;
}

input[type="text"] {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

.container {
  display: flex;
}

.container input {
  margin: 1rem;
}
